## Exercise09 : Data Visualization I

Given the following dataset has been stored in the file `Data/weather.csv`. The given data for this exercise comes from a subset of The National Centers for Environmental Information (NCEI) [Daily Global Historical Climatology Network](Data/weather_readme.txt) (GHCN-Daily). The GHCN-Daily is comprised of daily climate records from thousands of land surface stations across the globe.

Each row in the datafile corresponds to a single observation.

The following variables are provided to you:

* **s_id** : station identification code
* **date** : date in YYYY-MM-DD format (e.g. 2012-01-24 = January 24, 2012)
* **element_type** : indicator of element type
    * TMAX : Maximum temperature (tenths of degrees C)
    * TMIN : Minimum temperature (tenths of degrees C)
* **value** : data value for element (tenths of degrees C)

For this exercise, your tasks are:

1. Read the documentation and familiarize yourself with the dataset.
2. Use python code to plot a line graph of the record high and record low temperatures by day of the year over the period 2005-2014. The area between the record high and record low temperatures for each day should be shaded.
3. Plot scatter plot of the 2015 data for any points (highs and lows) for which the ten year record (2005-2014) record high or record low was broken in 2015.
4. To remove leap year date i.e. 29th February points from the dataset for the purpose of this visualization.
5. Figures should be based on good data visualization practices. Issues such as legends, labels, and chart junk should be considered.

The stations data you have been given is near **Ann Arbor, Michigan, United States**.

In [2]:
# imports
import matplotlib.pyplot as plt

import pandas as pd

In [7]:
# read the data
df = pd.read_csv('weather.csv')

df.head()

          s_id      date element_type  value
0  USW00094889  11/12/14         TMAX     22
1  USC00208972   4/29/09         TMIN     56
2  USC00200032   5/26/08         TMAX    278
3  USC00205563  11/11/05         TMAX    139
4  USC00200230   2/27/14         TMAX   -106

In [17]:
#sort the value by station identification code and date
df.sort_values(by=['s_id','date'])

               s_id     date element_type  value
55067   USC00200032   1/1/05         TMIN    -28
55102   USC00200032   1/1/05         TMAX     67
53652   USC00200032   1/1/06         TMAX     33
53653   USC00200032   1/1/06         TMIN    -11
46923   USC00200032   1/1/07         TMIN      0
128559  USC00200032   1/1/08         TMIN    -28
128560  USC00200032   1/1/08         TMAX      0
163667  USC00200032   1/1/09         TMAX    -22
164796  USC00200032   1/1/09         TMIN   -133
35350   USC00200032   1/1/10         TMIN   -100
35351   USC00200032   1/1/10         TMAX    -33
93750   USC00200032   1/1/11         TMIN    -56
93755   USC00200032   1/1/11         TMAX    111
141842  USC00200032   1/1/12         TMAX     72
141843  USC00200032   1/1/12         TMIN    -11
164511  USC00200032   1/1/13         TMIN   -106
164513  USC00200032   1/1/13         TMAX    -11
21474   USC00200032   1/1/14         TMIN   -106
21479   USC00200032   1/1/14         TMAX    -89
44224   USC00200032   1/1/15         TMIN    -94
44225   USC00200032   1/1/15         TMAX    -11
28270   USC00200032  1/10/05         TMAX     22
28271   USC00200032  1/10/05         TMIN     -6
139668  USC00200032  1/10/06         TMIN    -39
139669  USC00200032  1/10/06         TMAX     44
19193   USC00200032  1/10/07         TMAX      0
19194   USC00200032  1/10/07         TMIN    -56
120437  USC00200032  1/10/08         TMIN     -6
120438  USC00200032  1/10/08         TMAX     44
140498  USC00200032  1/10/09         TMIN    -83
...             ...      ...          ...    ...
98828   USW00094889   9/8/12         TMIN     78
98829   USW00094889   9/8/12         TMAX    222
1904    USW00094889   9/8/13         TMIN    111
2023    USW00094889   9/8/13         TMAX    239
123599  USW00094889   9/8/14         TMIN    122
123600  USW00094889   9/8/14         TMAX    244
47556   USW00094889   9/8/15         TMAX    311
47577   USW00094889   9/8/15         TMIN    189
71086   USW00094889   9/9/05         TMIN    106
71228   USW00094889   9/9/05         TMAX    267
67017   USW00094889   9/9/06         TMIN    100
67018   USW00094889   9/9/06         TMAX    228
31572   USW00094889   9/9/07         TMIN    139
31573   USW00094889   9/9/07         TMAX    272
60328   USW00094889   9/9/08         TMAX    200
60338   USW00094889   9/9/08         TMIN     50
114384  USW00094889   9/9/09         TMAX    261
114395  USW00094889   9/9/09         TMIN    161
99170   USW00094889   9/9/10         TMIN     56
99205   USW00094889   9/9/10         TMAX    211
84334   USW00094889   9/9/11         TMIN    167
84336   USW00094889   9/9/11         TMAX    228
100210  USW00094889   9/9/12         TMIN     56
100211  USW00094889   9/9/12         TMAX    228
150260  USW00094889   9/9/13         TMIN     94
150261  USW00094889   9/9/13         TMAX    256
131455  USW00094889   9/9/14         TMIN    100
131456  USW00094889   9/9/14         TMAX    256
50741   USW00094889   9/9/15         TMIN    111
50742   USW00094889   9/9/15         TMAX    261

[165085 rows x 4 columns]

In [ ]:
# plot a line graph of the record high and record low 
# temperatures by day of the year over the period 2005-2014

In [ ]:
# Plot scatter plot of the 2015 data for any points (highs and lows)
# for which the ten year record (2005-2014) record high or record low 
# was broken in 2015.